<div class="row justify-content-center mt-3">
    <div class="col-xs-12 col-md-4">
        {{> shared/success}}        
        <h1 class="mb-4">Update Profile</h1>
        <form action="/update-profile" method="POST" enctype="multipart/form-data">
            <img src="/uploads/{{ profilePic }}" class="profile-pic">
            <canvas class="canvas"></canvas>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" id="upload-file" name="profilePic" class="custom-file-input {{#if errors.email}} invalid {{/if}}" accept="image/*">
                    <label for="upload-file" class="custom-file-label">Choose Profile Picture</label>
                </div>
                {{#each errors.profilePic}}
                    <div>
                        <span class="text-danger">{{ message }}</span>
                    </div>
                {{/each}}
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input 
                name="name" 
                type="text"
                required
                value="{{form.name}}" 
                id="name"
                class="form-control {{#if errors.name}} invalid {{/if}}"> 
                {{#each errors.name}}
                    <div>
                        <span class="text-danger">{{ message }}</span>
                    </div>
                {{/each}}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                name="email" 
                type="email"
                required
                id="email" 
                value="{{form.email}}"
                class="form-control {{#if errors.email}} invalid {{/if}}"> 
                {{#each errors.email}}
                    <div>
                        <span class="text-danger">{{ message }}</span>
                    </div>
                {{/each}}
            </div>
            <button type="submit" class="btn btn-primary mb-3">Update Profile</button>
        </form>
    </div>
</div>