<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6">
        <div class="headline">
            <h2>{{ foundUser.name }}</h2>            
            <img class="rounded-circle" src="/uploads/{{ foundUser.profilePic }}" height="150">
            {{#if currentUser}}
                <p class="mt-3"><a href="/update-profile" class="btn btn-primary">Update Profile</a></p>
            {{else}}
                <input type="hidden" id="user_id" value="{{ foundUser.id }}">
                {{#if follower}}
                <p class="mt-3"><button class="btn btn-success" id="unfollow">Following</button></p>
                {{else}}
                <p class="mt-3"><button class="btn btn-primary" id="follow">Follow</button></p>
                {{/if}}
            {{/if}}
        </div>
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#tweets" role="tab" aria-controls="tweets" aria-selected="true">Tweets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
            </li>
        </ul>
        <br>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tweets" role="tabpanel" aria-labelledby="tweets-tab">
                {{#each tweets}}
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <img class="rounded-circle" src="/uploads/{{ author.profilePic }}" height="75"
                            width="75" alt="">
                        <div class="ml-3">
                            <h5 class="card-title">{{ author.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{date created 'MMM Do YYYY, h:mm a' }}</h6>
                            <p class="card-text">{{ content }}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                {{#each foundUser.following}}
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <a href="/user/{{ _id }}"><img class="rounded-circle" src="/uploads/{{ profilePic }}" height="75" width="75" alt=""></a>
                        <div class="ml-3">
                            <h5 class="card-title">{{ name }}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                    {{#each foundUser.followers}}
                    <div class="card mb-3">
                        <div class="card-body d-flex align-items-center">
                            <a href="/user/{{ _id }}"><img class="rounded-circle" src="/uploads/{{ profilePic }}" height="75" width="75" alt=""></a>
                            <div class="ml-3">
                                <h5 class="card-title">{{ name }}</h5>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
        </div>
    </div>
</div>